html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    
  }
  html::-webkit-scrollbar {
    display: none;
  }
#kmain{
    overflow-x: hidden;   
}
#ktop{
    height:50vw;
    width:100vw;
    position: relative;
    padding-top: 6.2vw;;
}
#container{
    height:100vh;
    width:100vw;
    display: flex;
    overflow: hidden;
}
#items{
    width:100vw;
    display: flex;
}
.item-col{
    flex:1;
    display: flex;
}
#item{
    position: relative;
    top:5vh;
    flex:1;
    display: flex;
    flex-direction: column;
    width:18vw; 
       
}
.item-copy{
    height:3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: 700;
    font-family: pp;
    line-height: 1.2vw;
    padding-left: 0.5vw;
}
.item-side .item-img{   
    overflow: hidden;
    clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
}
.item-img img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.item-copy-wrapper{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.item-main .item-img{
    overflow: hidden;
}
.item-main .item-img img{    
    transform: scale(0.5);
    position: absolute;
    top:-5vw;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
}
.kkrheader{
    position: absolute;
    bottom:23%;
    transform-origin: center center;
    width:100vw;
    display: flex;   

}
.header-item{
    position: relative;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ab;
    transform: scale(0.25);
}
.header-item-1{
    left:18vw;
}
.header-item-2{
right:18vw;
}
.letter{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:18vw;
    font-weight: 200;
    font-family: ab;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
    #kmid{
        height:50vw;
        width:100vw;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    #kbot{
        min-height:60vw;
        width:100vw;
        

    }
    .heading{
        height:14vw;
        width:100vw;
        margin-top: 3vw;
        font-family: xx;
        margin-left: 2vw;
        font-size: 5.2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        background: -webkit-linear-gradient(#1F0245,#250452,#31076F,#F2C029,#C9932C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;    
        

    }
    #kitems{
        min-height:46vw;
        width:96vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 2vw;
        padding-right: 2vw;
    }